/readme.html
/readme.pdf
/readme_files
/test_demo.html
/test_demo.tex
/test_demo_files
/test_slide.html
/test_slide.pdf
/test_slide_files
/uddannelsesordning.data-prog-aug24.html
/uddannelsesordning.data-prog-aug24.md
/uddannelsesordning.data-prog-aug24.pdf
/uddannelsesordning.data-prog-aug24_files

.quarto/xref/2ecfe2ed

/.quarto/
fagtråd_bigdata.html
fagtråd_bigdata.md
fagtråd_bigdata.pdf
fagtråd-iot.html
fagtråd-iot.md
fagtråd-iot.pdf
fagtråde.md

*_files/**/*

.quarto/*
demo/*
test_docs/*
ttt/*
out/*
**/_extensions/*